body{
    font-size: 20px;
}
.main{
    width: 50%;
    margin: 0 auto;
}
.titulo-principal{
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    color: rgb(102, 102, 211);
}
.img-edad{
    width: 30%;
    height: auto;
}
.calculo{
    margin: 20px 0 0 120px;
    display: inline-block;
    vertical-align: top;
   
}
.input{
    padding: 1em;
    margin: 10px;
}
form > .input:last-child{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(255, 178, 35);
    border: none;
    border-radius: 5px;
}